body{
    background-color: rgb(67, 68, 68);
}

.container_1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.inside_container_1{
    display: flex;
    flex-direction: column;
}
.con1_box{
    text-align: center;
}
.con1_box img{
    border-style: solid;
    border-color: orangered;
    border-radius: 25%;
    width: 50%;
    align-self: last baseline;
}

/* tablets */
@media only screen and (min-width: 500px) and (max-width: 1024px){
    .con1_box img{
        width: 70%;
    }
    
}

/* resolution */

@media only screen and (min-width: 1024px) and (max-width: 1600px){
    .inside_container_1{
        flex-direction: row;
        gap: 20px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 2500px){
    .inside_container_1{
        flex-direction: row;
        gap: 50px;
    }
}
